PLC_data_decoding_node_red_flow.txt
[{"id":"c73ef23d.9fa31","type":"mqtt in","z":"33def5a4.69530a","name":"LoRa Server Gateway","topic":"#","qos":"2","datatype":"auto","broker":"727d698b.75be98","x":141,"y":69,"wires":[["84228130.51dfd","930b8799.3e78f8"]]},{"id":"84228130.51dfd","type":"debug","z":"33def5a4.69530a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":438,"y":69,"wires":[]},{"id":"930b8799.3e78f8","type":"json","z":"33def5a4.69530a","name":"","property":"payload","action":"obj","pretty":false,"x":169,"y":160,"wires":[["c21afe.8da345"]]},{"id":"c21afe.8da345","type":"function","z":"33def5a4.69530a","name":"data","func":"var datastring = msg.payload.data\nmsg.payload = datastring\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["e46ea160.fc85c"]]},{"id":"fd63ab60.c01d68","type":"debug","z":"33def5a4.69530a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":696,"y":242,"wires":[]},{"id":"e46ea160.fc85c","type":"function","z":"33def5a4.69530a","name":"only data not pings","func":"if(typeof msg.payload !== 'undefined') {\n    return msg;\n}\nelse\n{}","outputs":1,"noerr":0,"x":487,"y":160,"wires":[["8ccd3aa6.0f8168"]]},{"id":"8ccd3aa6.0f8168","type":"function","z":"33def5a4.69530a","name":"base 64 decode","func":"var b = new Buffer (msg.payload,'base64');\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":242,"wires":[["fd63ab60.c01d68","e5ac6f84.feab8"]]},{"id":"e5ac6f84.feab8","type":"function","z":"33def5a4.69530a","name":"decimal 16 bits","func":"var a = msg.payload[0];\nvar b = msg.payload[1];\nmsg.payload = b*256+a;\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":340,"wires":[["4a19aaaf.a62834"]]},{"id":"4a19aaaf.a62834","type":"debug","z":"33def5a4.69530a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":656,"y":341,"wires":[]},{"id":"727d698b.75be98","type":"mqtt-broker","z":"33def5a4.69530a","name":"","broker":"192.168.1.214","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]